<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments/common :: head('게시판')}"> <!-- 공통 출력 화면(fragment) 이름 사용 -->
    </head>

    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="~{fragments/common :: menu('board')}"> <!-- 공통 출력 화면(fragment) 이름 사용 -->
            </nav>
        </header>

        <!-- Begin page content -->
        <div class="container">
            <h2>게시판</h2>
            <form th:action="@{/boards/write}" th:object="${boardWriteDTO}" method="post">

                <!-- Title layer -->
                <!-- Validation을 적용하여 유효성 검사 -->
                <div class="mb-3">
                    <label for="title" class="form-label">제목</label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
                        id="title" th:field="*{title}" placeholder="제목">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                        제목 에러 메세지
                    </div>
                </div>
                
                <!-- Content layer -->
                <div class="mb-3">
                    <label for="content" class="form-label">내용</label>
                    <textarea class="form-control" th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
                        id="content" th:field="*{content}" rows="5" placeholder="내용"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                        내용 에러 메세지
                    </div>
                </div>
                
                <!-- Button layer -->
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">확인</button>
                    <a type="button" class="btn btn-primary" th:href="@{/boards/list}">취소</a>
                </div>
            </form>
        </div>
    </body>
</html>