<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>회원가입</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="sign-in.css" th:href="@{/css/sign-in.css}" rel="stylesheet">
    </head>

    <!-- Begin page content -->
    <body class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="form-signin w-100 m-auto">
            <form th:action="@{/users/register}" th:object="${userRegisterDTO}" method="post">
                <h1 class="h3 mb-3 fw-normal d-flex justify-content-center">회원가입</h1>

                <!-- Input layer -->
                <!-- Validation을 적용하여 유효성 검사 -->
                <div class="form-floating">
                    <input type="username" class="form-control" id="registerUsername" name="username" th:value="*{username}"
                        th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
                    <label for="username">Username</label>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                        username 에러 메세지
                    </div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="registerPassword1" name="password1"
                        th:field="*{password1}" th:classappend="${#fields.hasErrors('password1')} ? 'is-invalid'">
                    <label for="password1">Password</label>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}">
                        password1 에러 메세지
                    </div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="registerPassword2" name="password2"
                        th:classappend="${#fields.hasErrors('password2')} ? 'is-invalid'">
                    <label for="password2">Password confirm</label>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">
                        password 에러 메세지
                    </div>
                </div>
                
                <!-- Button layer -->
                <button class="btn btn-primary w-100 py-2 mt-1" type="submit">완료</button>
                <a type="button" class="btn btn-primary w-100 py-2 my-1" th:href="@{/users/login}">취소</a>
            </form>
        </main>
    </body>
</html>
