html,
body {
  height: 90%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[id="loginUsername"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="loginPassword"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[id="registerUsername"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="registerPassword1"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[id="registerPassword2"] {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[id="changeNewPassword1"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[id="changeNewPassword2"] {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}